
html {
    min-height: 100%;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;


}
/*Header*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;900&display=swap');
.fondo {


    background: hsla(282, 100%, 4%, 1);

    background: linear-gradient(0deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 41%, hsla(274, 100%, 47%, 1) 79%, hsla(252, 89%, 78%, 1) 100%);

    background: -moz-linear-gradient(0deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 41%, hsla(274, 100%, 47%, 1) 79%, hsla(252, 89%, 78%, 1) 100%);

    background: -webkit-linear-gradient(0deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 41%, hsla(274, 100%, 47%, 1) 79%, hsla(252, 89%, 78%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0E0014", endColorstr="#6A00F4", GradientType=1);


    padding: 2vw;

}


.navbar-nav {
    margin: 10px;
}


#nombre {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    color: green;
    text-decoration: none;

}

/*
.buscar {
    height: 34px;
    width: 10px;
   
}
*/

.navbar-toggler{
    border: 5px solid black;
}
.btn.btn-outline-success {
    --bs-btn-color: black;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7700ff;
    --bs-btn-hover-border-color: #FBADFF ;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8900F2;
    --bs-btn-active-border-color: #8900F2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #2D00F7;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0E0014;
    --bs-gradient: none;

    height: 40px;
}

.btn img {
    height: 30px;
}

/* index.html*/



.contenedor {
    display: flex;
    flex-direction: column;
    background-color: black;

}

/* Carrusel
*/
.carousel {

    margin: 10px 40px 10px 40px;

}



.carousel-img {
    width: 100%;
}


/*Imagenes*/
.grid-container {

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: black;



}

h3 {
    text-align: center;
    font-family: 'Playfair Display', serif;
   
}

.grid-item {
    margin: 20px;
    width: 70%;


}

.imgC {
    width: 30%;
    height: 50%;
}

.grid-item:hover {
    transform: scale(1.2);
}

.texto {
    color: white;
    display: none;
    font-family: 'Playfair Display', serif;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}
 
.enlace{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    font-family:  'Playfair Display', serif;
}
.enlace:hover{
    color: #ea24f5;
    font-size: 1.5em;
}

@media screen and (min-width: 1000px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;

    }

    .grid-item {
        margin: 20px;
        width: 200px;



    }

    .imgC {
        width: 500px;
        height: 600px;
    }

}

/* aplicaciones.html*/

.titulo {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: white;
    background-color: black;
    margin-bottom: 0rem;
    padding: 30px;

}



div p {

    font-family: 'Playfair Display', serif;
    text-align: justify;
    padding: 5%;
    margin-top: 30px;
    font-family: 'Playfair Display', serif;

}

.container-app {
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;


}

.item {

   padding: 10px;
   padding: 50px;
    color: white;
   


}

@media screen and (max-width: 699px) {
    .container-app {
        display: grid;
        grid-template-columns: auto ;
        grid-auto-flow: inherit;
        background-color: black;

    }

}

@media screen and (min-width: 1040px) {
    .container-app {
        display: grid;
        grid-template-columns: auto auto auto  ;

        background-color: black;

    }

}

.img-app {
    
    box-shadow: 10px 10px white;
    margin: auto;
    display: block;
    width: 40%;
   
    
   


}

.img-app:hover {

    transform: scale(1.1);
}

.tarjeta {
    color: white;
    margin-top: 25px;
    margin-left: 10px;
    


}

/* profesiones.html*/


/* comentario*/
#coment {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline;
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}
.generos{
    background-color: yellow;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline;
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#coment:hover {
    opacity: 0.5;
    background: linear-gradient(270deg, rgb(199, 109, 238) 0%, rgb(214, 154, 240) 30%);

}

.enviar {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}
.enviar:hover{
    background: linear-gradient(270deg, rgb(199, 109, 238) 0%, rgb(214, 154, 240) 30%);

}

.img-coment {
    width: 30px;
}

.task{
    background-color:#6A00F4;
    color: white;
    height: 50px;
    margin-bottom: 8px;
    margin-top: 30pxx;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    
}

/* contenido*/


.grid-container-profesiones {
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;


}

.card{
    margin-left: auto;
    margin-right: auto;
    
}
.cHeaderard-img-top {
    width: 50%;
    margin: 50px 50px;


}


.title {
    color: white;
    background-color: black;
}

.desaparecio {
    color: white;
    text-align: center;
    margin-left: 10px;
    background-color: black;
}


.grid-item:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 699px) {
    .grid-container-profesiones  {
        display: grid;
        grid-template-columns: auto;

    }

}

@media screen and (min-width: 1419px) {
    .grid-container-profesiones {
        display: grid;
        grid-template-columns: auto auto auto auto;

        background-color: black;

    }

}

/*Footer*/
footer {
    background: hsla(282, 100%, 4%, 1);

    background: linear-gradient(270deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0E0014", endColorstr="#6A00F4", GradientType=1);



    flex: 0 0 auto;



}

/*peliculas especificas */

.reseña{
    color: white;
}

.img-pel{
    
    float: right;
    position: block;
    padding: 20px;
    margin: 10px;
    width: 300px;
}

label{
    color: white;
    margin-top: 20px;
}

select{
    border: 2px solid  ;
    border-radius: 5px 8px;
   color: white;
   background: rgb(186, 67, 236);

   background: linear-gradient(270deg, rgb(190, 119, 221) 0%, hsla(266, 100%, 48%, 1) 100%);

   background: -moz-linear-gradient(270deg, rgb(183, 69, 231) 0%, hsla(266, 100%, 48%, 1) 100%);

   background: -webkit-linear-gradient(270deg, rgb(189, 70, 240) 0%, hsla(266, 100%, 48%, 1) 100%);

   filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0E0014", endColorstr="#6A00F4", GradientType=1);
}

#coment{
   border-radius: 5px 9px  ;
}