html {
    min-height: 100%;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;


}

/*Header*/
.fondo {


    background: hsla(282, 100%, 4%, 1);

    background: linear-gradient(0deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 41%, hsla(274, 100%, 47%, 1) 79%, hsla(252, 89%, 78%, 1) 100%);

    background: -moz-linear-gradient(0deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 41%, hsla(274, 100%, 47%, 1) 79%, hsla(252, 89%, 78%, 1) 100%);

    background: -webkit-linear-gradient(0deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 41%, hsla(274, 100%, 47%, 1) 79%, hsla(252, 89%, 78%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0E0014", endColorstr="#6A00F4", GradientType=1);


    padding: 2vw;

}

.navbar-nav {
    margin: 20px;
}


#nombre {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    color: green;

}

.buscar {
    height: 34px;
    width: 10px;
}

.btn.btn-outline-success {
    --bs-btn-color: black;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7700ff;
    --bs-btn-hover-border-color: #198754;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;

    height: 40px;
}

.btn img {
    height: 30px;
}

/* index.html*/



.contenedor {
    display: flex;
    flex-direction: column;
    background-color: black;

}

/* Carrusel
*/
.carousel {
   
    margin: 10px 40px 10px 40px;

}



.carousel-img{
    width:100% ;
}


/*Imagenes*/
.grid-container {

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: black;
    


}

h3 {
    text-align: center;
}

.grid-item {
    margin: 20px;
    width: 70%;


}

.imgC {
    width: 30%;
    height: 50%;
}

.grid-item:hover {
    transform: scale(1.2);
}

.texto {
    color: white;
    display: none;
}

@media screen and (min-width: 1000px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;




    }

    .grid-item {
        margin: 20px;
        width: 200px;



    }

    .imgC {
        width: 500px;
        height: 600px;
    }

}

/* aplicaciones.html*/

.titulo {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: white;
    background-color: black;
    margin-bottom: 0rem;
    padding: 30px;

}



div p {
   
    font-family: 'Playfair Display', serif;
    text-align: justify;
    padding: 5%;
    margin-top: 30px;

}

.container-app {
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;


}

.item {

    margin: 50px;
    color: white;
    padding: 10px;
   

}

@media screen and (max-width: 699px) {
    .container-app {
        display: block;
        grid-template-columns: auto auto;
        grid-auto-flow: inherit;
        background-color: black;

    }

}

@media screen and (min-width: 1000px) {
    .container-app {
        display: grid;
        grid-template-columns: auto auto auto auto;

        background-color: black;

    }

}

.img-app {
    width: 300px;
    box-shadow: 10px 10px white;

}

.img-app:hover {

    transform: scale(1.1);
}

.card{
    background-color: rgb(96, 109, 231);
    color: white;
    border-radius: 10px 2px 40px;
    margin-top: 25px;
    margin-left: 30px;
    box-shadow: white;
    width: 100%;
    background: hsla(282, 100%, 4%, 1);

    background: linear-gradient(270deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0E0014", endColorstr="#6A00F4", GradientType=1);


}

/* profesiones.html*/

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    
}
.flex-item-derecham{
    flex: 20%;
}
.card-body span{
    text-align: center;
    
    

}

h3{
    color: white;
}


.grid-item:hover {
    transform: scale(1.2);
}
/*Footer*/
footer {
    background: hsla(282, 100%, 4%, 1);

    background: linear-gradient(270deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(282, 100%, 4%, 1) 0%, hsla(266, 100%, 48%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0E0014", endColorstr="#6A00F4", GradientType=1);



    flex: 0 0 auto;



}